.TodoTemplate {
  width: 512px;
  margin: 6rem auto;
  border-radius: 4px;
  overflow: hidden;
}

.app-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  font-size: 1.5rem;
  color: white;
  background-color: #22b8cf;
}

.content {
  background-color: white;
}
